.table-wrapper {
  width: 100%;
  overflow-x: scroll;
  height: 600px;
  scrollbar-width: thin;
  box-shadow: 8px 9px 19px -1px rgba(0, 0, 0, 0.63);
}

.book-list__table {
  width: 100%;
}

.book-list-image-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

.book-list__image {
  background-size: contain;
  background-repeat: no-repeat;
  height: 130px;
  width: 85px;
}

table th,
table td {
  padding: 0px 16px;
}
